// Light Theme Colors

$light-bg: #FAFAFA;
$light-secondary-bg: #ECECEC;
$light-third-bg: #91A5CC;
$light-highlight-color: #9537B7;
$light-btn-bg: #10BB34;
$light-green-bg: #428e8b;


// Dark Theme Colors

$dark-bg: #0D1117;
$dark-secondary-bg: #161B22;
$dark-highlight-color: #9537B7;
$dark-btn-bg: #3D8AFD;


// Landing Theme

$section1-bg-gradient: linear-gradient(45deg, #428e8b, #3fc6bf);
$section2-bg-gradient: linear-gradient(-45deg, #ced7e6, #344972, );
$landing-btn-bg: white;
$landing-text-color: white;
$landing-secondary-text-color: rgba(255, 255, 255, 0.6);
$landing-sub-title-color: rgba(255, 255, 255, 0.8);
$section2-card: #413C71;

// Default Values for Mixins

$empty-bg-gradient: linear-gradient(#35aba500, rgba(90, 222, 218, 0));
$empty-bg:#fafafa00;