@import '../../theme/mixins.scss';
@import '../../theme/variables.scss';

.landing_wrapper{
  @include section(100vh, 85vw, 3em);
  @include flex(flex, row, center, space-between);
}

.landing_background{
  height: 100vh;
  width: 100vw;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('https://assets.website-files.com/61c068a59012f41188beeafb/61c32f42d6ad0f3b29d34cd2_team-bg.png');
  background-size: cover;
}

.img{
  border: 0px solid rgba(177, 140, 223, 0.235);
  border-radius: 10px;
  height: 57%;  
  position: absolute;
  right: 0;
  bottom: 15%;
}

.title{
  color: $landing-text-color;
  font-size: 40px;
}

.para{
  color: $landing-secondary-text-color;
  margin-top: 1em;
  font-size: larger;  
}

.sub_title{
  color: $landing-sub-title-color;
}

.btn{
  @include button(6vh, 10vw, #4a9f9c, white, 0px solid white, 12px, 2em);
  font-weight: 550;
  font-size: large;
  transition: 0.5;
  cursor: pointer;
  &:hover{
    background-color: rgb(235, 235, 235);
  } 
  position: absolute;
  z-index: 10;
}

@media screen and (max-width: 786px) {
  
.landing_wrapper{
  @include section(100vh, 85vw, 3em);
  @include flex(flex, column, center, space-between);
  margin-top: 5vh;
}


.img{
  height: 22%;
  margin-right: 2%; 
  position: absolute;
  bottom: 0;
}

.btn{
  @include button(6vh, 50vw, #4a9f9c, white, 0px solid white, 12px, 2em);
}

}